---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #073642;
$iron: #93a1a1;
$cloudy: #dc322f;

@import
    "mixins",
    "default",
    "404"
;
